<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<title>Ruby Summer of Code</title>
	<link href="stylesheets/reset.css" media="all" rel="stylesheet" type="text/css">
	<link href="stylesheets/application.css" media="all" rel="stylesheet" type="text/css">
	<!--[if lt IE 7]><script type="text/javascript" src="javascripts/unitpngfix.js"></script><![endif]-->
	<!-- Date: 2009-08-28 -->
</head>
<body id="event_schedule">
<div id="wrapper">
	<div id="container">
		<div class="header">
			<h1><a href="index.html" title="Ruby Summer of Code"><img src="images/header.png" alt="Ruby Summer of Code"></a></h1>
		</div><!--/End Header -->
		<div class="nav" id="primary">
			<ul>
				<li id="nav_overview"><%= main_nav('Overview', '/index') %></li>
				<li id="nav_mentors"><%= main_nav('Mentors', '/mentors') %></li>
				<li id="nav_students"><%= main_nav('Students', '/students') %></li>
				<li id="nav_sponsors"><%= main_nav('Sponsors', '/sponsors') %></li>
				<li id="nav_community"><%= main_nav('Community', '/community') %></li>
			</ul>
		</div>
		<div id="social">
      <ul>
        <li id="social_twitter"><a href="http://www.twitter.com/rubysoc">Twitter</a></li>
        <li id="social_digg"><a href="http://www.digg.com/submit?url=<%= request.env["HTTP_HOST"] %>">Digg</a></li>
        <li id="social_reddit"><a href="http://www.reddit.com/submit?url=<%= request.env["HTTP_HOST"] %>">Reddit</a></li>
      </ul>
	  </div>
		<div id="contentwrap">
  		<div id="content">
  				  <%= yield %>
			</div>
  		<div class="aside">
  			<h3>Presented by</h3>
  			<br>
  			<br>
  			<ul>
  				<li><a href="http://www.engineyard.com" target="_blank"><img src="images/Engine-Yard.png" alt="Engine Yard Rails Hosting" height="100"></a></li>
  				<li><a href="http://www.rubycentral.org" target="_blank"><img src="images/Ruby-Central.png" alt="Ruby Central" height="100"></a></li>
  				<li><a href="http://www.rubyonrails.org" target="_blank"><img src="images/rails_hi.png" alt="Ruby on Rails Core Team" height="80"></a></li>
        </ul>
        <br>
        <h5>Full Project Sponsors</h5>
        <br>
        <br>
        <ul>
          <li><a href="http://www.37signals.com" target="_blank"><img src="/images/37signals.png" alt="37signals" width="125"></a></li>
          <li><a href="http://www.phusion.nl" target="_blank"><img src="images/phusion.png" alt="Phusion" height="80"></a></li>
          <li><a href="http://pivotallabs.com" target="_blank"><img src="images/pivotal.png" alt="Pivotal Labs" width="140"></a></li>
          <li><a href="http://www.newrelic.com" target="_blank"><img src="images/newrelic.png" alt="New Relic" width="140"></a></li>
          <li><a href="http://www.oreilly.com" target="_blank"><img src="images/oreilly.png" alt="O'Reilly" width="140"></a></li>
          <li><a href="http://www.entryway.net" target="_blank"><img src="images/entryway.png" alt="Entryway" width="140"></a></li>
          <li><a href="http://www.heroku.com" target="_blank"><img src="images/heroku.png" alt="Heroku" width="120"></a></li>
          <li><a href="http://www.hashrocket.com" target="_blank"><img src="images/hashrocket.png" alt="Hashrocket" width="120"></a></li>
          <li><a href="http://www.shopify.com" target="_blank"><img src="images/shopify.png" alt="Shopify" width="120"></a></li>
        </ul>
        <br>
        <h5>Half Project Sponsors</h5><br />
        <br>
        <ul>
          <li><a href="http://entp.com" target="_blank"><img src="images/entp_small.png" alt="entp" width="100"></a></li>
          <li><a href="http://www.thefrontiergroup.com.au" target="_blank"><img src="images/frontier_sm.png" alt="The Frontier Group" width="175"></a></li>
          <li><a href="http://www.intridea.com" target="_blank"><img src="images/intridea.png" alt="Intridea" width="90"></a></li>
          <li><a href="http://www.braintreepaymentsolutions.com/" target="_blank"><img src="images/braintree.png" alt="Braintree" width="150"></a></li>
          <li><a href="http://www.aptana.com/" target="_blank"><img src="images/aptana.png" alt="Aptana" width="150"></a></li>
          <li><a href="http://www.getharvest.com" target="_blank"><img src="images/harvest_sm.png" alt="Harvest" width="150"></a></li>
          <li><a href="http://www.blueboxgrp.com" target="_blank"><img src="images/bluebox.png" alt="Blue Box Group" width="120"></a></li>
          <li><a href="http://www.chargify.com" target="_blank"><img src="images/chargify.png" alt="Chargify" width="130"></a></li>
         </ul>
  			<p><br />Contact <a href="mailto:sponsor@rubysoc.org">Leah Silber</a> for sponsorship information.</p>
  		</div>

  		<div class="cB"></div>
    </div>
    <div id="endcap"></div>
	</div><!--/End Container -->
	<div id="endnav">
	 <div class="links">
	   Ruby Summer of Code
	   <ul>
				<li id="nav_overview"><%= main_nav('Overview', '/index') %></li>
				<li id="nav_mentors"><%= main_nav('Mentors', '/mentors') %></li>
				<li id="nav_students"><%= main_nav('Students', '/students') %></li>
				<li id="nav_sponsors"><%= main_nav('Sponsors', '/sponsors') %></li>
				<li id="nav_community"><%= main_nav('Community', '/community') %></li>
			</ul>
	 </div>
	 <div class="ruby"></div>
	</div>
</div><!--/End Wrapper -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-764576-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
